---
import { BackgroundImage } from 'astro-imagetools/components';

import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';
import SectionBlock from '../components/SectionBlock.astro';
import SectionBlockHeader from '../components/SectionBlockHeader.astro';
import YandexMap from '../components/YandexMap.astro';
---

<Layout title="Welcome to Astro. DUBNA ASTRO!">
    <Main>
        <Section fullWidth fullHeight>
            <BackgroundImage
                src="src/assets/clinic-reception.jpg"
                alt="Clinic reception"
            >
                <div class="h-[70vh]"></div>
            </BackgroundImage>
        </Section>
        <Section class="bg-neutral-content dark:bg-neutral">
            <SectionBlock>
                <SectionHeader>Location & Hours</SectionHeader>
                <p class="text-center">
                    Olo Acupuncture is located between the Manhattan
                    neighborhoods of Chelsea and Flatiron. We're a quick walk
                    from Penn Station, the Garment District, NoMad and Union
                    Square, and easily accessible via Subway from just about
                    everywhere else in New York City.
                </p>
            </SectionBlock>

            <SectionBlock>
                <div class="text-center text-2xl">Klinica hirudoterapii</div>
                <div class="text-center">Dubna, Bogolubova Avenue, 39</div>
            </SectionBlock>

            <SectionBlock>
                <SectionBlockHeader>Hours & Schedule</SectionBlockHeader>
                <div class="text-center">Mondays - Fridays 10 AM - 8 PM</div>
                <div class="text-center">Saturdays 10 AM - 4 PM</div>
            </SectionBlock>
        </Section>
        <Section fullWidth fullHeight>
            <YandexMap />
        </Section>
        <Section>
            <h3 class="mb-2 text-center text-2xl">
                Safe, Effective <br /> & Drug Free
            </h3>
            <p class="text-center">
                Acupuncture and Traditional Chinese Medicine (TCM) are a safe,
                effective and drug free option for treatment of most
                non-emergency conditions.
            </p>
        </Section>
        <Section class="bg-neutral-content dark:bg-neutral">
            <SectionHeader>Treating from the Root</SectionHeader>
            <p class="text-center">
                With treatments focused on the root of the imbalance and not
                just the symptoms
            </p>
        </Section>
        <Section>
            <SectionHeader>Common to Dwarvish Translator</SectionHeader>
            <p class="text-center">
                Udovr, hjav hlastan frarth thjel skegga, jektor ar veggog udovr
                hjav hjana frarth jr ojti. Hee hoo urndlikr denthar vormark!
            </p>
        </Section>
    </Main>
</Layout>
