---
import MoonIcon from '../icons/moon.astro';
import SunIcon from '../icons/sun.astro';
---
<nav>
    <div class="drawer z-50">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />

        <div class="drawer-content flex flex-col">
            <div class="navbar w-full bg-base-300">
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-3" class="btn btn-square btn-ghost">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            class="inline-block h-6 w-6 stroke-current"
                            ><path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path></svg
                        >
                    </label>
                </div>
                <div class="mx-2 flex-1 px-2">Navbar Title</div>
                <div class="hidden flex-none lg:block">
                    <ul class="menu menu-horizontal">
                        <li><a>Navbar Item 1</a></li>
                        <li><a>Navbar Item 2</a></li>
                    </ul>
                </div>
                <button
                    class="btn"
                    x-data
                    x-on:click="$store.darkMode.toggle()"
                >
                    <span x-data x-show="$store.darkMode.on">
                        <MoonIcon />
                    </span>
                    <span x-data x-show="!$store.darkMode.on">
                        <SunIcon />
                    </span>
                </button>
            </div>
        </div>

        <div class="drawer-side">
            <label for="my-drawer-3" class="drawer-overlay"></label>
            <ul class="menu min-h-full w-80 bg-base-200 p-4">
                <li><a>Sidebar Item 69</a></li>
                <li><a>Sidebar Item 420</a></li>
            </ul>
        </div>
    </div>
</nav>
