---
import MoonIcon from '../icons/moon.astro';
import SunIcon from '../icons/sun.astro';
---

<nav>
    <div class="navbar w-full justify-end bg-base-300">
        <button class="btn" x-data x-on:click="$store.darkMode.toggle()">
            <span
                class="invisible"
                x-data
                x-bind:class={`{
                            'invisible': $store.darkMode.on,
                            'hidden': $store.darkMode.on
                        }`}
            >
                <MoonIcon />
            </span>
            <span
                class="hidden"
                x-data
                x-bind:class="{ 'hidden': !$store.darkMode.on }"
            >
                <SunIcon />
            </span>
        </button>
    </div>
</nav>
