---
import { Image } from 'astro:assets';

import MoonIcon from '../icons/moon.astro';
import SunIcon from '../icons/sun.astro';
import logo from '../assets/logo.svg';
---

<nav class="mx-auto my-0 max-w-xl">
    <div class="navbar min-h-[3.5rem] w-full bg-base-300">
        <div class="navbar-start">
            <Image
                src={logo}
                alt="логотип"
                width={64}
                height={64}
                class="h-8 w-8"
            />
        </div>
        <div class="navbar-center text-lg font-bold">
            <span>Клиника Гирудотерапии</span>
        </div>
        <div class="navbar-end">
            <button
                class="btn btn-circle btn-sm"
                x-data
                x-on:click="$store.darkMode.toggle()"
            >
                <span
                    class="invisible"
                    x-data
                    x-bind:class={`{
                            'invisible': $store.darkMode.on,
                            'hidden': $store.darkMode.on
                        }`}
                >
                    <MoonIcon />
                </span>
                <span
                    class="hidden"
                    x-data
                    x-bind:class="{ 'hidden': !$store.darkMode.on }"
                >
                    <SunIcon />
                </span>
            </button>
        </div>
    </div>
</nav>
