---
interface Props {
    fullWidth?: boolean;
    fullHeight?: boolean;
    class?: string;
    id?: string;
}

const { id, class: className, fullWidth, fullHeight } = Astro.props;
---

<section id={id} class:list={[{ 'px-4': !fullWidth, 'py-4': !fullHeight }, className]}>
    <slot />
</section>
