<div
    class="relative"
    x-data="{ activated: false, loadIframe: false }"
    x-on:mousedown="activated = true"
    x-on:touchstart="activated = true"
    x-bind:class="activated && 'activated'"
>
    <iframe
        x-bind:class="{ 'invert hue-rotate-180': $store.darkMode.on, 'opacity-70': !activated }"
        x-bind:src="loadIframe && 'https://yandex.ru/map-widget/v1/?um=constructor%3A5b5208d222e747be96db5eb2737664bf8809a39c2f57c50d720f558548c1380f&amp;source=constructor'"
        x-on:load.window="setTimeout(() => loadIframe = true)"
        width="100%"
        height="300"
        class="border-0"></iframe>

    <!-- this div allows the parent div to receive onclick events -->
    <div
        class="absolute inset-0 z-10"
        x-bind:class="activated && 'pointer-events-none'"
    />
</div>
