---
import DarkModeScript from '../scripts/darkModeScript.astro';
import PosthogScript from '../scripts/posthogScript.astro';
import VkScript from '../scripts/vkScript.astro';
import YaScript from '../scripts/yaScript.astro';
import DatadogScript from '../scripts/datadogScript.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="is set by the script below" style="font-size: 18px">
    <head>
        <slot name="head" />
        <meta charset="UTF-8" />
        <meta name="description" content="Дубненская клиника гирудотерапии и рефлексотерапии" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- is:inline changes path resolution to public/<path> -->
        <DarkModeScript />
        <PosthogScript />
        <VkScript />
        <YaScript />
        <DatadogScript />
    </head>
    <body class="text-base bg-base-200">
        <slot />
    </body>
</html>
